.father {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
}

.child {
    flex-basis: 30%;
    background: peru;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child:nth-child(2) {
    background: black;
    flex-grow: 1;
}